
<!DOCTYPE html>
<html>
<head>
<title>Germany Travel Planner</title>
</head>
<body>
<h1>Germany Travel Planner</h1>
<form action="/destinations" method="post">
<label for="start_date">Start Date:</label>
<input type="date" id="start_date" name="start_date">
<br>
<label for="end_date">End Date:</label>
<input type="date" id="end_date" name="end_date">
<br>
<label for="destination_preferences">Destination Preferences:</label>
<br>
<input type="checkbox" id="berlin" name="destination_preferences" value="Berlin">
<label for="berlin">Berlin</label>
<br>
<input type="checkbox" id="munich" name="destination_preferences" value="Munich">
<label for="munich">Munich</label>
<br>
<input type="checkbox" id="hamburg" name="destination_preferences" value="Hamburg">
<label for="hamburg">Hamburg</label>
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>


